/* FOOTER */

.footer {
  background-image: url(/assets/backgrounds/Footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 900px) {
  .footer {
    background-size: 200% 200%;
  }
}

/* FOOTER-CONTENT */

.footer__content {
  height: 11rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .footer__content {
    flex-direction: column;
    height: max-content;
    background-size: 200% 200%;
  }
}

/* FOOTER-CONTENT-LOGO */

.footer__content-logo {
  margin-left: 0;
}
@media screen and (max-width: 900px) {
  .footer__content-logo {
    margin-top: 2em;
  }
}

.footer__content-logo img {
  width: 5em;
  height: 5em;
}
@media screen and (max-width: 900px) {
  .footer__content-logo img {
    width: 7.5em;
    height: 6em;
  }
}

@media screen and (max-width: 500px) {
  .footer__content-logo img {
    width: 11.5em;
    height: 10em;
  }
}

/* FOOTER-CONTENT-CONTACTS */

.footer__content-contacts {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Tinos", serif;
  font-size: 1em;
  margin-right: 3em;
  margin-left: 0;
}
@media screen and (max-width: 900px) {
  .footer__content-contacts {
    font-size: 2em;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 0;
    margin-top: 1em;
  }
}
@media screen and (max-width: 500px) {
  .footer__content-contacts {
    font-size: 2.5em;
    margin-top: 2em;
  }
}

.footer__content-contacts > * {
  margin-bottom: 0.5em;
}

.footer__content-contacts span {
  color: #ff7400;
}

/* FOOTER-CONTENT-MEDIA */

.footer__content-media {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  .footer__content-media {
    margin-right: 0;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
  }
}

.footer__content-media-inst,
.footer__content-media-tg,
.footer__content-media-twitter {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 2em;
  height: 2em;
  margin-bottom: 0.6em;
  transform: scale(0.7);
  transition: all 0.3s ease;
  display: flex;
}
@media screen and (max-width: 900px) {
  .footer__content-media-inst,
  .footer__content-media-tg,
  .footer__content-media-twitter {
    width: 7em;
    height: 7em;
  }
}
@media screen and (max-width: 500px) {
  .footer__content-media-inst,
  .footer__content-media-tg,
  .footer__content-media-twitter {
    width: 10em;
    height: 10em;
  }
}

.footer__content-media-inst {
  background: transparent url(/assets/Logos_and_miniatures/inst-logo.png);
  background-size: contain;
}

.footer__content-media-tg {
  background: transparent url(/assets/Logos_and_miniatures/tg-logo.png);
  background-size: contain;
}

.footer__content-media-twitter {
  background: transparent url(/assets/Logos_and_miniatures/twitter-logo.png);
  background-size: contain;
  margin-bottom: 0;
}

.footer__content-media-inst:hover,
.footer__content-media-tg:hover,
.footer__content-media-twitter:hover {
  transform: scale(1);
}

/* FOOTER-CONTENT-TEXT */

.footer__content-text {
  color: #fff;
  font-size: 2rem;
  margin-right: 0;
  font-family: "Tinos", serif;
}
@media screen and (max-width: 900px) {
  .footer__content-text {
    font-size: 4.5rem;
    margin-bottom: 0.5em;
  }
}
@media screen and (max-width: 500px) {
  .footer__content-text {
    margin-bottom: 1em;
  }
}

.footer__content-text span {
  color: #ff7400;
}
