* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 19px;
  scroll-behavior: smooth;
}
@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 6px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(0.4, 0.005, 0, 1);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  padding: 0 1rem;
}

.obliqueButton {
  position: relative;
  background-image: linear-gradient(to bottom, #ff932e, #ff7e14);
  color: #fff;
  text-decoration: none;
  padding: 0.75em 1em;
  border-radius: 0.2rem 4.2rem / 5rem;
  font-weight: 700;
  font-size: 0.75em;
  opacity: 1;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.obliqueButton span {
  position: relative;
  z-index: 1;
}

.obliqueButton::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    #ff932e 0%,
    #ff7400 35%,
    #f36a00 50%,
    #da5600 51%,
    #ff7e14 100%
  );
  color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.2rem 4.2rem / 5rem;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.obliqueButton:hover::after {
  opacity: 1;
}
